.headline {
    font-family:Helvetica Neue; 
    font-weight: bolder; 
    font-size: 42px;  
    padding: 16px; 
    text-align: center;
    color: rgb(37, 103, 165);
}

.container{
    text-align: center;
}

.stats_table {
    width: 800px ;
    border: 2px solid lightblue;
    border-radius: 4px ;
    margin: auto;
    text-align: center;
    font-family: Helvetica Neue; 
    font-size: 14px; 
}
.stats_table th {
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(102, 151, 207);
  color: white;
  font-weight: bold;
  text-align: center;
}
.stats_table, th, td {
    border-radius: 3px ;
}
.stats_table tr {
    padding-top: 2px;
    padding-bottom: 2px;
}

.buttonCell {
    white-space: nowrap
}

.studentTable tr:nth-child(odd){background-color: rgb(225, 241, 248);}
.stats_table tr:nth-child(odd){background-color: rgb(225, 241, 248);}
.stats_table tr:hover {background-color: lightblue;}

.delbut {
    background-color: rgb(102, 151, 207);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px ;
    font-weight: Regular;
    font-size: 18px;
    color: white;
}
.delbut:hover {background-color: rgb(37, 103, 165);}

.disbut {
    background-color: rgb(102, 151, 207);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px ;
    font-weight: Regular;
    font-size: 18px;
    color: white;
}
.disbut:hover {background-color: rgb(37, 103, 165);}

input[type="text"] {
    /* text-indent: 00px ; */
    text-align: center ;
    width: 50px;
    border: 0;
    outline: none;
    background: transparent;
    font-family:Helvetica Neue; 
    font-size: 14px;  

}
input[type="text1"] {
    /* text-indent: 00px ; */
    text-align: center ;
    width: 75px;
    border: 0;
    outline: none;
    background: transparent;
    font-family:Helvetica Neue; 
    font-size: 14px;  

}

.form-field {
    text-align: center;
}