<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="./stylesheets/students.css">
<html>
<head>
  <!-- <% include ../partials/header.ejs %> -->
  <script type="text/javascript" src="students.js"></script>
  <title> Simon Barer - A2 - Display Students</title>
</head>
<body>
    <% results.forEach(function(r) { %>
        <div style="font-color:<%= r.hair_color %>">
            <font> <%= r.name %> </font>
       
        </div>
    <% }); %>





</body>
</html>